<article class="block shadow rounded-[15px] object-contain ">
  <div class="flex flex-col items-center justify-between">
    <img class="" [src]="item.imageUrl" alt="cart-image">
    <div class="flex items-center justify-center h-[50px]">
      <span class="font-semibold text-center text-sm">{{item.name}}</span>

    </div>
    <span class="">{{item.price | currency : '₸'}}</span>
  </div>
  <div class="flex lg:flex-row flex-col justify-between xl:gap-6 lg:pl-2">
    <a [routerLink]="['/catalog', item.category, item.subcategory, item.slug]" [queryParams]="{slug: item.slug}"
      class="text-secondary-text whitespace-nowrap text-[12px]  lg:mt-10 mt-3 mb-3"><u>Подробнее о
        товаре</u></a>
    <app-button [furniture]="item" buttonStyle="btn-cart-mini" />
  </div>
</article>