<section class="container min-w-[320px] block w-auto">
  <div (click)="toggleAccordion(i)" *ngFor="let category of categories$ | async ; let i = index">
    <div
      class="flex items-center justify-between flex-1 mt-4 transition-all ease-in-out bg-white-gray rounded-md px-2 hover:opacity-35">
      <span class="font-medium ">{{category.name}}</span>
      <img
        [ngClass]="accordionState[i] ? 'transition-all easy-in-out rotate-180' : 'transition-all easy-in-out rotate-0'"
        src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='none'%3e%3cpath%20fill='%23000'%20fill-rule='evenodd'%20d='M4.98%206.313a.5.5%200%200%201%20.707%200L8%208.626l2.313-2.313a.5.5%200%201%201%20.707.707L8.354%209.687a.5.5%200%200%201-.707%200L4.98%207.02a.5.5%200%200%201%200-.707Z'%20clip-rule='evenodd'/%3e%3c/svg%3e"
        width="24" height="24" alt="">
    </div>
    <ng-template class="transition-all ease-in-out" [ngIf]="accordionState[i]">
      <div class="mt-2 " *ngFor="let subcategory of category.subcategories">
        <a routerLinkActive="active" [routerLink]="['/catalog', category.slug, subcategory.slug]"
          class="ml-2 text-dark-gray hover:text-orange ">{{subcategory.name}}</a>
      </div>
    </ng-template>

  </div>
</section>