<section class="container mt-12">
  <h2 class="font-medium text-[20px] text-dark-gray mb-5">Популярные категории</h2>
  <div class="grid lg:grid-cols-2 ">
    <a href="" class="flex flex-col items-center px-5 py-12 rounded-lg  shadow  group justify-around">
      <img class="transition-all ease-in-out duration-700 group-hover:scale-125"
        src="../../../../assets/images/divany.png" alt="">
      <span class="transition-all ease-in-out text-gray  text-lg group-hover:text-orange ">Диваны</span>
    </a>
    <div class="grid grid-cols-3 grid-rows-2 gap-[20px]  lg:pl-[16px] lg:pt-0 pl-0 pt-5 rounded-[10px]">
      <a class="flex flex-col items-center justify-center shadow rounded-lg">
        <img class="h-full w-full object-contain" src="../../../../assets/images/kresla.png" alt="">
        <span class="text-gray">Кресла</span>
      </a>
      <a class="flex flex-col items-center justify-center shadow rounded-lg">
        <img class="h-full w-full object-contain" src="../../../../assets/images/table.png" alt="">
        <span class="text-gray">Столы</span>
      </a>
      <a class="flex flex-col items-center justify-center shadow rounded-lg">
        <img class="h-full w-full object-contain" src="https://ir-3.ozone.ru/s3/multimedia-c/wc1000/6690092376.jpg"
          alt="">
        <span class=" text-gray">Шкафы</span>
      </a>
      <a
        class="flex flex-col justify-center  items-center  shadow text-gray col-span-3 rounded-[10px] bg-other-furniture bg-no-repeat bg-cover bg-center ">
      </a>
    </div>
  </div>
</section>