<article class="flex flex-col shadow p-2 rounded-lg transition-all ease-linear hover:shadow-lg">
  <a class="flex flex-col" [routerLink]="['/catalog', item.category, item.subcategory, item.slug] "
    [queryParams]="{slug : item.slug}">
    <img [src]="item.imageUrl" alt="">
    <span class="ml-2 text-lg font-bold ">{{item.price | currency : '₸'}}</span>
    <span class="ml-2  font-medium">{{item.name}}</span>
    <div *ngFor="let characteristic of item.description | keyvalue; let i = index"
      class="flex items-center justify-between space-y-1 mx-2 ">
      <span class="text-sm text-dark-gray " *ngIf="i < 3">{{ characteristic.key | transformKey }}</span>
      <span class="text-sm" *ngIf="i < 3">{{ characteristic.value }}</span>
    </div>
  </a>
  <app-button [furniture]="item" buttonStyle="btn-cart-full" />
</article>