<section class="container relative z-0 mt-12">
  <img class="w-full h-[330px] rounded-3xl" [src]="images[currentImageIndex]" alt="">
  <button *ngIf="currentImageIndex !== 0" (click)="clickOnBack()" class="absolute  text-white left-[5%] top-[45%] "><svg
      width="21" height="30" viewBox="0 0 21 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.6288 0L0.0222168 14.5941L14.6288 29.1883L20.1063 23.7155L10.9772 14.5941L20.1063 5.47281L14.6288 0Z"
        fill="#D9D9D9" />
    </svg>
  </button>
  <button *ngIf="currentImageIndex !== images.length -1" (click)="clickOnForward()"
    class="flex items-center justify-center absolute top-[45%] right-[5%] "><svg width="22" height="30"
      viewBox="0 0 22 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M6.42964 29.1883L21.0363 14.5941L6.42964 -1.27586e-06L0.952156 5.4728L10.0813 14.5941L0.952155 23.7155L6.42964 29.1883Z"
        fill="#D9D9D9" />
    </svg>
  </button>
  <div class="flex gap-5 justify-center items-center relative bottom-10">
    <div (click)="clickOn(i)" *ngFor="let item of images; let i = index"
      [ngClass]="{'bg-orange': currentImageIndex === i, 'bg-white-gray cursor-pointer': currentImageIndex !== i}"
      class="w-3 h-3 rounded-full"></div>
  </div>
</section>