@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @layer components {
    .btn-cart-mini {
      @apply flex items-center justify-center xl:h-[64px] xl:w-[64px] lg:h-[48px] lg:w-[48px] w-full lg:py-2 bg-white-gray rounded-full mr-[5px] mb-[15px] shadow transition-all ease-in-out hover:bg-orange
    }

    .btn-cart-mini::after {
      content: url('./assets/icons/basket-cart.svg');
    }

    .btn-cart-mini-active {
      @apply flex items-center justify-center xl:h-[64px] xl:w-[64px] lg:h-[48px] lg:w-[48px] w-full py-2 lg:py-0 bg-green rounded-full mr-[5px] mb-[15px] shadow transition-all ease-in-out hover:opacity-40 after:mt-1 after:content-active-btn
    }

    .btn-cart-mini-active::after {
      content: url('./assets/icons/complite.svg');
    }

    .btn-cart-full {
      @apply flex items-center justify-center gap-2 transition-all w-full ease-in-out border border-orange rounded-lg mt-2 text-orange;
    }

    .btn-cart-full::before {
      content: url('./assets/icons/basket-cart.svg');
      filter: invert(34%) sepia(86%) saturate(523%) hue-rotate(330deg) brightness(103%) contrast(101%);
    }

    .btn-cart-full::after {
      content: 'В корзину'
    }

    .btn-cart-full-active {
      @apply flex items-center justify-center gap-2 transition-all w-full ease-in-out border bg-green rounded-lg mt-2 text-white;
    }

    .btn-cart-full-active::after {
      content: 'Добавлено в корзину';
    }

    .btn-cart-full-active::before {
      content: url('./assets/icons/complite.svg');
    }



    .btn-cart-full:hover {
      @apply bg-orange text-white
    }

    .btn-cart-full:hover::before {
      filter: brightness(103%) contrast(101%);
    }



  }
}